.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 400px;

  .screen {
    background: #2f132f;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrong-turn {
      position: absolute;
      font-size: 30px;
      top: 100px;
      color: #c16464;
    }
  }

  button {
    height: 150px;
    width: 300px;
    font-size: 50px;
    letter-spacing: 5px;
    border-radius: 20px;
  }
}