.game-field {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  grid-gap: 15px;

  &--cell {
    background: #8989b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}